In [3]:
using SQLite
using DataFrames


db = SQLite.DB("names.db")


data = DataFrames.DataFrame(SQLite.DBInterface.execute(db, "SELECT * from names"))
distinct_names= combine(groupby(data, [:name, :sex]),nrow)

count_names = combine(groupby(distinct_names, [:sex]), nrow)

if(count_names[!,1][1] == "M")
	Nb = count_names[!, 2][1]
	Ng = count_names[!, 2][2]
else
	Nb = count_names[!, 2][2]
	Ng = count_names[!, 2][1]
end

print(Nb, "\n", Ng)

42054
68332

In [4]:
d = combine(groupby(data,:year), nrow)
Ny = nrow(d)
minyr = minimum(d[!,1])
minyr -= 1

1879

In [6]:
boy_name = Dict{String,Int64}()
girl_name = Dict{String, Int64}()

Dict{String,Int64}()

In [7]:
Fb = zeros(Int32, Nb, Ny)
Fg = zeros(Int32, Ng, Ny)
Ty = zeros(Int32, Ny)

140-element Array{Int32,1}:
 0
 0
 0
 0
 0
 0
 0
 0
 0
 0
 0
 0
 0
 ⋮
 0
 0
 0
 0
 0
 0
 0
 0
 0
 0
 0
 0

In [8]:
index_boy = 1
index_girl = 1
for entry in eachrow(data)
    if(entry[2] == "M")
        if(!haskey(boy_name, entry[1]))
            boy_name[entry[1]] = index_boy
            index_boy += 1
        end            
        Fb[boy_name[entry[1]], entry[4] - minyr] = entry[3]
        Ty[entry[4] - minyr] += entry[3]
    else
        if(!haskey(girl_name, entry[1]))
            girl_name[entry[1]] = index_girl
            index_girl += 1
        end
        Fg[girl_name[entry[1]], entry[4] - minyr] = entry[3]
        Ty[entry[4] - minyr] += entry[3]
    end
end

In [24]:
Pb = zeros(Float32, Nb, Ny)
Pg = zeros(Float32, Ng, Ny)

68332×140 Array{Float32,2}:
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 ⋮                        ⋮              ⋱            ⋮
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [25]:
for i = 1:Nb
    for j = 1:Ny
        Pb[i,j] = Fb[i,j] / Ty[j]
    end
end

for i = 1:Ng
    for j = 1:Ny
        Pg[i,j] = Fg[i,j] / Ty[j]
    end
end

In [26]:
using LinearAlgebra

In [27]:
Qb = zeros(Float32, Nb, Ny)
Qg = zeros(Float32, Ng, Ny)
for i = 1:Nb
    Qb[i,:] = normalize(Pb[i,:])
end
for i = 1:Ng
    Qg[i,:] = normalize(Pg[i,:])
end

In [28]:
boy_name_rev = Dict(b=>a for (a,b) in boy_name)
girl_name_rev = Dict(b=>a for (a,b) in girl_name)

Dict{Int64,String} with 68332 entries:
  15769 => "Ferrie"
  29044 => "Shahera"
  62591 => "Journiee"
  43031 => "Aujanae"
  22035 => "Toyota"
  39001 => "Laurennicole"
  61670 => "Nahyeli"
  50996 => "Ximenna"
  48586 => "Prayer"
  39722 => "Jailene"
  43089 => "Melaniece"
  19698 => "Teralee"
  57473 => "Lylli"
  29981 => "Kailani"
  60489 => "Vishva"
  43977 => "Alanys"
  7237  => "Andora"
  64111 => "Seoyeon"
  48568 => "Mattisyn"
  58752 => "Liddia"
  17959 => "Jeantte"
  52261 => "Mairyn"
  27248 => "Shanikka"
  65792 => "Yaz"
  59825 => "Jadalys"
  ⋮     => ⋮

In [29]:
l = Nb / 10
l = Int(floor(l))
i = l
start = 1
part_rows_boy = []
if(Nb%10 == 0)
    for j = 1:10
        push!(part_rows_boy, (start,i))
        start = i + 1
        i += l
    end
else
    for j = 1:9
        push!(part_rows_boy, (start,i))
        start = i + 1
        i += l
    end
    i += Nb % 10
    push!(part_rows_boy, (start,i))
end

10-element Array{Any,1}:
 (1, 4205)
 (4206, 8410)
 (8411, 12615)
 (12616, 16820)
 (16821, 21025)
 (21026, 25230)
 (25231, 29435)
 (29436, 33640)
 (33641, 37845)
 (37846, 42054)

In [30]:
l = Ng / 10
l = Int(floor(l))
i = l
start = 1
part_rows_girl = []
if(Ng%10 == 0)
    for j = 1:10
        push!(part_rows_girl, (start,i))
        start = i + 1
        i += l
    end
else
    for j = 1:9
        push!(part_rows_girl, (start,i))
        start = i + 1
        i += l
    end
    i += Ng % 10
    push!(part_rows_girl, (start,i))
end

10-element Array{Any,1}:
 (1, 6833)
 (6834, 13666)
 (13667, 20499)
 (20500, 27332)
 (27333, 34165)
 (34166, 40998)
 (40999, 47831)
 (47832, 54664)
 (54665, 61497)
 (61498, 68332)

In [60]:
top_k = Any[]
i1 = 1
max = -1
final_boy = ""
final_girl = ""

@time while(i1 <= 10)
    i2 = 1
    while(i2 <= 10)
        print(i1," ",i2,"\n")
        BLAS.set_num_threads(10)
        matrix1 = Qb[part_rows_boy[i1][1]:part_rows_boy[i1][2],:]
        matrix2 = Qg[part_rows_girl[i2][1]:part_rows_girl[i2][2],:]
        mul = matrix1 * matrix2'
        #println(k[1]," ",boy_name_rev[k[2][1] + part_rows_boy[i1][1] - 1]," ",girl_name_rev[k[2][2] + part_rows_girl[i2][1] - 1])
        mul = sort(mul, dims = 2)
        push!(top_k, mul[:,Ny])
        
        i2 += 1
    end
    i1 += 1
end

1 11 2

LoadError: InterruptException:

In [58]:
x = [2 1 5;4 3 0]

x = sort(x, dims = 2)
x[:,3]

2-element Array{Int64,1}:
 5
 4